{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/end.css">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Résumé du combat</h1>
        <div class="jumbotron">
            <div class="container">
                Résumé tour par tour inc (Fichier log)
            </div>
        </div>
    </div>
{% endblock %}
