{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/end.css">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Résumé du combat</h1>
        <div class="container">
            <a id="enter" href="/" class="btn-lg" role="button">Revenir à l'accueil</a>
        </div>
        <div class="jumbotron">
            <div class="row">
                <div class="winner col-xs-6">
                    <h2>Winner :</h2>
                    <img src="assets/images/choose_character.jpg" alt="hero winner">
                </div>
                <div class="loser col-xs-6">
                    <h2>Loser :</h2>
                    <img src="assets/images/choose_character.jpg" alt="hero loser">
                </div>
            </div>
            {% for line in game.log %}
                <p>{% if loop.index0 != 0 %}<strong>Tour {{ loop.index0 }}</strong>: {% endif %}{{ line }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
