{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/end.css">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Résumé du combat</h1>
        <div class="jumbotron">
            <div class="container">
                <h3>Résumé tour par tour inc (Fichier log)</h3>
                <div class="winner">
                    <h2>Winner :</h2>
                    <img src="assets/images/choose_character.jpg" alt="hero winner">
                </div>
                <div class="loser">
                    <h2>Loser :</h2>
                    <img src="assets/images/choose_character.jpg" alt="hero loser">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
