{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link href="https://fonts.googleapis.com/css?family=Passion+One|Press+Start+2P" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/neon.css">
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="bandeau">
            <p>Super Gif'Ighter II</p>
        </div>
    </div>
    <div class="container">
        <a id="enter" href="/play" class="btn-lg" role="button">Enter The Ultimate Gif'Ight</a>
    </div>
{% endblock %}