{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="bandeau">
            <p>Super Gif'Ighter II</p>
        </div>
    </div>
    <div class="container">
        <a id="enter" href="/play" class="btn-lg" role="button">Enter The Ultimate Gif'Ight</a>
    </div>
{% endblock %}