{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <h1>Super Heroes Fighters Z</h1>
        <input class="btn btn-default" type="button" value="START GAME">
    </div>
{% endblock %}