
{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Passion+One|Press+Start+2P" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/selectplayer.css">
{% endblock %}

{% block content %}
    <div class="container">
    <h1>Selectionnez votre personnage</h1>

    <div class="row">
        <div class="col-xs-4 col-sm-4 player1">
        <h2>Joueur 1 :</h2>
        <img src="http://via.placeholder.com/350x400" alt="player one">
        </div>

        <div class="col-xs-4 col-xs-offset-4 col-sm-offset-4 col-sm-4 player2">
        <h2>Joueur 2 :</h2>
        <img src="http://via.placeholder.com/350x400" alt="player one">
        </div>
    </div>

    <div class="row select_thumb">
    {% for i in 0..23 %}
        <div class="col-xs-4 col-md-1">
            <a href="#" class="thumbnail">
                <img src="https://raw.githubusercontent.com/akabab/superhero-api/0.2.0/api/images/sm/1-a-bomb.jpg" alt="hero">
            </a>
        </div>
    {% endfor %}
    </div>
    <button type="button" class="btn btn-primary">Valider</button>
    </div>
{% endblock %}