h1 {
    color: white;
    margin-bottom: 30px;
}

h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;

}

.jumbotron {
    font-family: Arial, serif;
    text-align: left;
    opacity: 0.9;
    margin-top: 30px;
}


#enter {
    background-color: #ffc11a;
    transition: all 600ms ease;
    font-size: 20px;
}

#enter:hover {
    background-color: black;
    color: #ffc11a;
    border: 2px solid black;
    box-shadow: inset 0 0 35px 4px #FFC11A;
}

a {
    color: black;
}

a:focus, a:hover {
    color: white;
    text-decoration: none;
}

.green {
    color: green;
}

.red {
    color: red;
}
