p {
    text-align: center;
    margin: 20px 0 20px 0;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
}


/*NEON*/
@-webkit-keyframes neon1 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff600, 0 0 70px #fff600, 0 0 80px #fff600, 0 0 100px #fff600, 0 0 150px #fff600;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff600, 0 0 35px #fff600, 0 0 40px #fff600, 0 0 50px #fff600, 0 0 75px #fff600;
    }
}
