body{
    background-image: url('../images/background.png');
    color:#EEE;
    font-family: 'Press Start 2P', cursive;
    background-size: auto;
    background-repeat: repeat;
    /*overflow: hidden;*/
}

form {
    display: inline;
}

button[disabled] {
    opacity: 0.3;
}

.lifebars{
    height: 100px;
}

.lifebar{
    margin-top:25px;
    height: 50px;
}

.lifebar1{
    background-color:#000;
    border-radius:25px;
}

.lifebar2{
    background-color:#000;
    border-radius:25px;
    transform: scale(-1,1);
}

.energybar{
    margin-top: 15px;
}

.name{
}

.progressbar{
    border-radius:20px;
    background:linear-gradient(to right, red, yellow);
    margin-top:5px;
    height: 40px;
}

.display{
    height:500px;
}

.versus{
    height:250px;
    top:50px;
}

.messages{
    margin-top: 25%;
    height:100px;
}

.portrait1 img{
    border:solid 5px #EEE;
    color:#EEE;
}

.portrait2 img{
    border:solid 5px #EEE;
    transform: scale(-1,1);
    color:#EEE;
}

.attacks-list{
    height:300px;
}

.attack{
    display:inline-block;
    width:95px;
    height:95px;
    border:solid 5px #333;
}

