body {
    background-image : url("../images/background.png");
    color: white;
    background-size: auto;
    background-repeat: repeat;
}


/*.player2 {
    text-align: right;
}*/
#name1 {
    text-align: left;
}

#player2-image{
    transform: scale(-1,1);
}

h1, h2 {
    font-family: 'Press Start 2P', cursive;
}

.select_thumb {
    margin-top: 50px;
}

.thumbnail {
    padding: 0;
    border: 1px solid black;
}

.thumbnail:hover {
    box-shadow: 3px 3px 20px white;
    opacity: 0.8;
}

.img-responsive{
    border: 2px solid #000000;
}

.btn-primary {
    background-color: #ffc11a;
    font-size: 30px;
    transition: all 600ms ease;
    border: none;
}

.btn-primary:hover {
    background-color: black;
    color: #ffc11a;
    border: 2px solid black;
    box-shadow: inset 0 0 35px 4px #FFC11A;
}

.btn-primary:focus {
    background-color: #ffc11a;
}