.bandeau {
    font-size: 80px;
    color: #ffa500;
    margin-top: 40px;
}

body {
    max-height: 100vh;
    width: 100%;
<<<<<<< Updated upstream
    background-image: url("https://wallpaperbrowse.com/media/images/o-SUPERHEROES-FIGURES-facebook.jpg");
=======
    background-image: url("../images/background.jpg");
>>>>>>> Stashed changes
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    vertical-align: baseline;
    margin-bottom: 50px;
    font-family: 'Press Start 2P', cursive;
}



