.bandeau {
    font-size: 150px;
    color: #ffa500;
}

#enter {
    background-color: #ffc11a;
    font-size: 20px;
    position: relative;
    top: 25vh;
    right: 30vw;
}

body {
    max-height: 100vh;
    width: 100%;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    vertical-align: baseline;
    margin-bottom: 50px;
    font-family: 'Fontdiner Swanky', cursive;
}