
.bandeau {
    font-size: 80px;
    color: #ffa500;
    margin-top: 40px;
}

#enter {
    background-color: #ffc11a;
    font-size: 30px;
    position: relative;
    top: 50vh;
    transition: all 600ms ease;
}

#enter:hover {
    background-color: black;
    color: #ffc11a;
    border: 2px solid black;
    box-shadow: inset 0 0 35px 4px #FFC11A;
}

a {
    color: black;
}

a:focus, a:hover {
    color: white;
    text-decoration: none;

}

body {
    max-height: 100vh;
    width: 100%;
    background-image: url("https://wallpaperbrowse.com/media/images/o-SUPERHEROES-FIGURES-facebook.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    vertical-align: baseline;
    margin-bottom: 50px;
    font-family: 'Press Start 2P', cursive;
}
